.skills__icons__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  padding-top: 12rem;
}

.skills__icons__container p {
  text-align: center;
  color: var(--color-text);
  font-size: 1.8rem;
}

.skills__icons__container div:hover {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}

@media screen and (max-width: 590px) {
  .skills__icons__container {
    padding-top: 8rem;
  }
}
