.projectblock {
  margin-bottom: 8rem;
}

.pb__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 6rem;
}

.pb__img {
  flex: 1.5;
}

.pb__img img {
  border: 1px solid var(--color-accent);
}

.pb__content {
  flex: 1.2;
}

.pb__content__title {
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--color-title);
}

.pb__content__desc {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--color-text);
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.pb__content .pb__content_button {
  margin-right: 2rem;
  color: #fff;
}

/*! Removes Live button from News App  */
.projectblock:nth-child(2) .pb__content:nth-child(2) .liveBtn:nth-child(3) {
  display: none;
}

@media screen and (max-width: 880px) {
  .projectblock {
    margin-bottom: 12rem;
  }

  .pb__container {
    flex-direction: column;
    gap: 3rem;
  }

  .pb__content__desc {
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 710px) {
  .projectblock {
    margin-bottom: 10rem;
  }

  .pb__content__title {
    font-size: 2.2rem;
  }

  .pb__content__desc {
    margin-bottom: 4rem;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 560px) {
  .pb__content__title {
    font-size: 2rem;
  }

  .pb__content__desc {
    font-size: 1.7rem;
  }
}
