.bg-tint {
  background: #fafafa;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 4rem;
}

.section__padding {
  padding: 10rem 0;
}

.text-accent {
  color: var(--color-accent);
}

a {
  text-decoration: none;
  color: var(--color-text);
}

a:hover {
  color: var(--color-accent);
}

/* a:visited {
  color: var(--color-text);
} */

img {
  width: 100%;
}

.icon {
  width: 100px;
}

.btn {
  padding: 1.5rem 4rem;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
}

.btn-filled {
  background: var(--color-accent);
  color: #fff;
}

.btn-outline {
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
}

.heading__title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.8rem;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: var(--color-title);
}

.divider {
  height: 5px;
  width: 5rem;
  background: var(--color-accent);
  display: block;
  margin: 2.5rem auto 0;
}

@media screen and (max-width: 1024px) {
  .icon {
    width: 90px;
  }
}

@media screen and (max-width: 620px) {
  .icon {
    width: 80px;
  }
}

/* Animations */
.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
