@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --color-accent: #3b82f6;
  --color-title: #111;
  --color-text: #333;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
